{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>{% block title %}Kannada Audio To Sign Language Converter{% endblock %}</title>
</head>
<body>
    <header>
        <nav class="nav-container">
            <div class="logo">
                <!-- Adjust the opacity in the style attribute or handle it via CSS for better practice -->
                <img src="{% static 'ks2sl3.jpeg' %}" alt="SignLang Converter Logo" style="height: 60px; opacity: 0.8;">
            </div>
            <ul class="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                <li><a href="{% url 'contact' %}">Contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>Copyright &copy; 2024 All rights reserved.</p>
    </footer>
</body>
</html>
